<div class="jumbotron text-left">
  <div class="row">
    <div class="col-md-9">
      <h1><%= @user.name %></h2>
      <small class="font-italic">email: <%= @user.email %></small>
      <h4>Created Events</h4>
      <%= render 'shared/list_group', object: @user.created_events %>
    </div>
  </div>
  <div class="row border-top pt-2">
    <div class="col-md-9">
      <h4>Attending Soon</h4>
      <%= render 'shared/list_group', object: @user.attended_events.upcoming_events %>
    </div>
    <div class="col-md-3 border-left">
      <h5>Attended</h5>
      <%= render 'shared/list_group', object: @user.attended_events.upcoming_events %>
    </div>
  </div>
</div>
