<div class="col-md-6 text-center m-auto pt-3">
  <h1>New Event</h1>
  <p>The event's creator will be seen as <strong><%= current_user.name %></strong></p>

  <%= form_for @event , url: new_event_path do |f| %>
    <div class="form-group">
    <%= f.text_field :title, placeholder: "Name of the event", class: 'form-control form-control-lg row' %>
    <%= f.text_field :location, placeholder: "Where will it be?", class: 'form-control form-control-lg row' %>
    <%= f.date_field :date, class: 'form-control form-control-lg row' %>
    <%= f.submit 'Create Event', class: 'btn btn-primary row' %>
    </div>
  <% end %>
</div>